div {
    background-color: rgb(205, 205, 205);
    margin: 5px;
    padding: 5px 20px;
    text-align: justify;
    text-indent: 30px;
}

section {
    display: flex;
    flex-direction: row;
}

.a01 {
    width: 150rem;
    background-color: rgb(161, 161, 161);
}