header {
    background-color: grey;
    font-size: 26px;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 10px;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

img {
    width: 800px;
    height: 100%;
    margin-left: -5px;
}

.p01 {
    text-align: justify;
    margin: 0 -5px 0 5px;
    padding: 0 20px;
    background-color: rgb(183, 183, 183);
    text-indent: 20px;
}

/* footer */

footer {
    background-color: grey;
    font-size: 26px;
    display: flex;
    justify-content: center;
}