body {
    display: grid;
    margin: 13px;
}

header {
    font-size: 26px;
    background-color: grey;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

div {
    background-color: rgb(204, 204, 204);
    padding: 25px 20px;
}

article {
    text-align: center;
    background-color: grey; 
    margin: 1.5rem 0;
    padding: 20px 100px;
}