<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 07</title>
    <link rel="stylesheet" href="assets/css/layout07.css">
</head>
<body>

    <section>
        <div>
            <iframe src="https://www.youtube.com/embed/Kfj1SJBaeuQ?si=dvJPzG4EaCThaO_R" ></iframe>
        </div>
        <div class="textDiv">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum quia itaque sunt nihil sit modi fuga ab iusto, sed nam vitae obcaecati blanditiis maxime quod! Nihil, assumenda saepe! Quis, voluptatem.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat amet consequatur placeat magni sequi, mollitia, qui natus alias obcaecati officiis voluptate dignissimos libero iure quidem error veniam. Minima, eaque sapiente.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, error nulla! Placeat, harum. Veritatis itaque incidunt temporibus earum? Voluptate ab et quasi tempore veritatis incidunt expedita doloremque quas, minus quidem.</p>
        </div>
        <div class="textDiv">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad illo at modi magni libero eum perferendis aliquam sit excepturi, fuga reiciendis? Maxime, rerum in quidem eos reprehenderit ex ratione laudantium?</p>            
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat amet consequatur placeat magni sequi, mollitia, qui natus alias obcaecati officiis voluptate dignissimos libero iure quidem error veniam. Minima, eaque sapiente.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore, error nulla! Placeat, harum. Veritatis itaque incidunt temporibus earum? Voluptate ab et quasi tempore veritatis incidunt expedita doloremque quas, minus quidem.</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/tk5B4GSbgD4?si=1DF4jXYzJt_naaXh" ></iframe>
        </div>
    </section>


</body>
</html>