<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 02</title>
    <link rel="stylesheet" href="assets/css/layout02.css">
</head>
<body>
    <header>
        <h1>Homem</h1>
    </header>

    <main>
        
        <section class="p02">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, nihil at labore dolore alias quis veritatis vel accusantium cupiditate pariatur, nostrum dolorem repellendus. Corporis molestias eius itaque dolore voluptates debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cupiditate cumque, esse iure soluta temporibus voluptatem maiores consequatur. Dolorem vero quia veniam harum eveniet, eius repellat. Corporis enim dignissimos est.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse doloribus soluta suscipit beatae, dolorum modi laborum? Mollitia quo, nobis provident, ipsa beatae quas deleniti repellendus eum ipsum quae expedita exercitationem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, ab! Commodi sapiente enim illum dolore quos! Repellendus hic, odit libero aut provident eum eveniet deserunt molestias quia, consequatur culpa magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fugit eaque molestias, dolorum iste quisquam quas in rerum cum officiis, distinctio dolores quibusdam, nulla tempore atque ea cumque placeat adipisci? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora eligendi dolores nesciunt cupiditate praesentium dicta repellendus incidunt iusto itaque. Omnis, quasi dolorem? Libero accusantium sapiente natus quaerat ratione sed soluta?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo rerum cum autem dolor quis! Minus reprehenderit, mollitia expedita animi sit beatae sunt, ipsam deleniti dicta aliquam consectetur, alias inventore vitae!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatem repellendus quasi, facilis molestias enim ut mollitia maxime iste ipsam adipisci fugit animi tenetur commodi, officiis deleniti nobis in sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores praesentium repellat accusantium nobis molestiae voluptates fuga labore natus minus, nisi sed dicta qui provident eum, quisquam voluptate ullam tenetur aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia facere enim assumenda aut sint et vitae reprehenderit placeat. Id dolorem laborum similique rem dicta sed eius dolor consectetur eos fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi delectus suscipit labore placeat libero est recusandae repellendus velit. Hic id eveniet porro tempore non recusandae consequatur earum sunt necessitatibus quam?</p>
        </section>

        <section class="img02">
            <img src="assets/img/img02.png" alt="img">
        </section>
        
    </main>

    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore veritatis laborum voluptas accusamus! Dolor ipsam consectetur similique laborum fugiat, dolore aperiam expedita odio excepturi ducimus rerum temporibus at aut ea?</p>
    </div>
</body>
</html>