<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 01</title>
    <link rel="stylesheet" href="assets/css/layout01.css">
</head>
<body>
    <header>
        <h1>Paisagem</h1>
    </header>

    <main>

        <section class="img01">
            <img src="assets/img/img01.webp" alt="img">
        </section>

        <section class="p01">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste iusto, ullam sequi, voluptas ex sunt molestiae quisquam soluta pariatur molestias voluptates qui voluptatem harum id, enim vero non at. Consequuntur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia possimus quos accusamus nesciunt quasi maiores distinctio itaque id, at inventore suscipit molestias ad voluptatibus repellat porro magni! Temporibus.</p> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nostrum odio architecto recusandae optio, voluptatem blanditiis, eveniet sapiente enim eligendi error hic consequuntur quam, eaque repellat neque nemo nesciunt unde!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas a aliquam obcaecati minima, molestias nesciunt voluptatum. Autem, est vel sunt explicabo dolores perspiciatis aut, dolor, et dolorem tenetur iusto nesciunt? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error laudantium, repellat esse earum ad rerum neque maxime unde recusandae harum. Nisi aliquid sed ut accusamus qui excepturi quidem autem dolorum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nemo dignissimos excepturi veniam est rerum fugit, rem maiores provident dolorem ipsa sunt corrupti, iusto, illo perferendis voluptate quaerat optio iure.</p>
        </section>

    </main>

    <footer>
        <p>Footer da paisagem</p>
    </footer>
</body>
</html>