<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 05</title>
    <link rel="stylesheet" href="assets/css/layout05.css">
</head>
<body>

    <header><h1>Title</h1></header>

    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem consectetur inventore hic quam, eligendi omnis odio adipisci rem officia soluta doloribus sed ea maiores, voluptatibus delectus, velit aliquid aspernatur nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nam sunt nemo. Praesentium consectetur autem corrupti quas deserunt? Sunt soluta velit perferendis ad deserunt dignissimos tenetur, eaque iure illo ipsam?</div>

    <article> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus nesciunt illum culpa, eligendi at aliquid earum aspernatur fugit iusto reprehenderit quos id dicta saepe deserunt odit, ratione doloremque pariatur quibusdam.</article>

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perferendis qui ea provident ut incidunt saepe illo neque itaque, est, adipisci, expedita nihil iste earum libero molestias blanditiis ipsa beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aliquam porro temporibus debitis ad ipsum commodi quae natus animi accusamus pariatur laborum vero consequuntur quia ipsa, odit, quidem ducimus sit? lorme
    </div>

</body>
</html>