<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 08</title>
    <link rel="stylesheet" href="assets/css/layout08.css">
</head>
<body>

    <section>
        <div>
            <iframe src="https://www.youtube.com/embed/Kfj1SJBaeuQ?si=dvJPzG4EaCThaO_R" ></iframe>
            <p>Koenigsegg Jesko</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/PkkV1vLHUvQ?si=YYJmWdCTkE3a0Ohp" ></iframe>
            <p>Bugatti Chiron</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/s6N472eRrKo?si=gizsnluOze-djWYL" ></iframe>
            <p>Pagani Hyuara R</p>
        </div>
        <div>
            <iframe src="https://www.youtube.com/embed/tk5B4GSbgD4?si=1DF4jXYzJt_naaXh" ></iframe>
            <p>MacLaren 765LT</p>
        </div>
    </section>


</body>
</html>