<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 06</title>
    <link rel="stylesheet" href="assets/css/layout06.css">
</head>
<body>

    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eius architecto expedita numquam, corrupti, eos odio voluptatum labore rem dolor repudiandae officiis esse quia ipsam, amet accusantium impedit! Voluptatum, magnam!
        </p>
    </div>

    <section>
        <img src="assets/img/arVore.png" alt="arVore">

        <iframe src="https://www.youtube.com/embed/e-kDoJtsDbw"></iframe>
    </section>

    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eius architecto expedita numquam, corrupti, eos odio voluptatum labore rem dolor repudiandae officiis esse quia ipsam, amet accusantium impedit! Voluptatum, magnam!
        </p>
    </div>

</body>
</html>